doc/GINotificarEvento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.gestionincidencias.telefonica.com"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:ax21="http://vo.gestionincidencias.telefonica.com/xsd" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:cmn="http://telefonica.es/int_sgsd/Common"
	targetNamespace="http://service.gestionincidencias.telefonica.com">
	<wsdl:types>
		<xs:schema xmlns:ax22="http://vo.gestionincidencias.telefonica.com/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://service.gestionincidencias.telefonica.com">
			<xs:import namespace="http://vo.gestionincidencias.telefonica.com/xsd" />
			<xs:import namespace="http://telefonica.es/int_sgsd/Common"
				schemaLocation="./xsd/GestionIncidenciasCommonsDESN.xsd" />

			<xs:element name="notificarEventoRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="NumeroCaso" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="IncidenciaAjena" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="FechaActualizacion" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="TipoAccion" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="DescripcionAcciones">
							<xs:complexType>
								<xs:sequence>
									<xs:element minOccurs="0" maxOccurs="unbounded" name="DescripcionAccion" nillable="true" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element minOccurs="0" name="VisibleUsuario" nillable="true" type="cmn:stringBoolean" />
						<xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="TipoCaso" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="FechaApertura" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Descripciones">
							<xs:complexType>
								<xs:sequence>
									<xs:element minOccurs="0" maxOccurs="unbounded" name="Descripcion" nillable="true" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element minOccurs="0" name="Tipificacion1" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Tipificacion2" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Tipificacion3" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Tipificacion4" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="GrupoOrigen" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="GrupoDestino" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="TecnicoAsignadoInicial" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="TecnicoAsignadoFinal" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Impacto" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Urgencia" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Prioridad" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="CI" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="CIId" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="CIEtiqueta" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="CITipo" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="CINumeroSerie" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="CIFabricante" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="CIModelo" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="NombreUbicacion" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Localidad" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="UsuarioAfectado" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="TelefonoUsuarioAfectado" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="EmailUsuarioAfectado" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="InformadoPor" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Contrato" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Subactividad" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="ServicioAfectado" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="OrganizacionInterna" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="CodigoResolucion" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="FechaResolucion" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="Resoluciones">
							<xs:complexType>
								<xs:sequence>
									<xs:element minOccurs="0" maxOccurs="unbounded" name="Resolucion" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element minOccurs="0" name="CasoRelacionado" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="InfoAdjuntos">
							<xs:complexType>
								<xs:sequence>
									<xs:element minOccurs="0" maxOccurs="unbounded" name="Infoadjunto" type="cmn:Infoadjuntotype" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element minOccurs="0" name="NumAdjuntos" nillable="true" type="xs:integer" />
						<xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="SistemaOrigen" nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="IDCasoSistemaOrigen" nillable="true" type="xs:string" />
			</xs:sequence>	
				</xs:complexType>	
			</xs:element>
			
			<xs:element name="notificarEventoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnCode" type="xs:decimal" />
						<xs:element name="message" type="xs:string" nillable="true" />
						<xs:element name="IDCasoExterno" type="xs:string" nillable="true" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:schema>

	</wsdl:types>

	<wsdl:message name="notificarEventoRequest">
		<wsdl:part name="parameters" element="ns:notificarEventoRequest" />
	</wsdl:message>
	<wsdl:message name="notificarEventoResponse">
		<wsdl:part name="parameters" element="ns:notificarEventoResponse" />
	</wsdl:message>

	<wsdl:portType name="GINotificarEventoPortType">
		
		<wsdl:operation name="notificarEvento">
			<wsdl:input message="ns:notificarEventoRequest"
				wsaw:Action="urn:notificarEvento" />
			<wsdl:output message="ns:notificarEventoResponse"
				wsaw:Action="urn:notificarEventoResponse" />
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="GINotificarEventoSoap12Binding" type="ns:GINotificarEventoPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />

		<wsdl:operation name="notificarEvento">
			<soap12:operation soapAction="urn:notificarEvento"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="GINotificarEvento">
		<wsdl:port name="GINotificarEventoHttpSoap12Endpoint"
			binding="ns:GINotificarEventoSoap12Binding">
			<soap12:address
				location="http://vmec0011-02.sdp.telefonicasoluciones.com:7010/GINotificarEvento" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>